

{{#if lastSearchURL}}
<div>
  <a href="{{lastSearchURL}}" class="btn btn-primary" data-navigo>Back To Search Results</a>
</div>
{{/if}}
<h3>Details of <strong>{{name}}</strong></h3>

<table class="table table-striped table-hover">
{{#each props}}
	<tbody>
	<tr>
	<td>{{label}}{{#if URI}}<span title="{{URI}}"> [?]</span>{{/if}}</td>
	<td>{{value}}</td>
 	</tr>
	</tbody>
{{/each}}
</table>

<a href="/relatedwords/{{encodedURI}}" class="btn btn-success" data-navigo>Related Words</a>
